{% extends 'base.html' %}
{% load static %}

{% block content %}


<section class="w3-container">
  {% if contacts %}
  <h3 class="w3-center font">Sos  <i class="fas fa-address-book"></i> </h3>
  <ul>
    {% for contact in contacts %}
    <li> {{contact.post}}</li>
   {% endfor %}
  </ul>
  <hr>
  {% endif %}


<div class="w3-row">
<div class="w3-row-padding w3-col s12 m8 l8">
  
  {% if posts %}
  <h3 class="font w3-center">{{title}}</h3>
  {% for post in posts %}
  <div class="w3-col s6 m3 l3">
    
     
    {% if post.biz_type %}
        {% if post.biz_type == 'DR' %}
            <img class="w3-image icon" src={% static 'drinks.png'%} alt="some drinks">
            <small> Drinks</small>
            {% elif post.biz_type == 'FS'  %}
            <img class="w3-image icon" src={% static 'foods.jpg'%} alt="some food">
            <small> Foods</small>
            {% elif post.biz_type == 'CR'  %}
            <img class="w3-image icon" src={% static 'cyber.png'%} alt="some food">
            <small> Cyber/game/movies</small>
            {% elif post.biz_type == 'CG'  %}
            <img class="w3-image icon" src={% static 'clothes.png'%} alt="some food">
            <small> Boutique</small>
            {% elif post.biz_type == 'GR'  %}
            <img class="w3-image icon" src={% static 'general.jpg'%} alt="some food">
            <small> Others</small>
         {% endif %}
      {% endif %}

   
   
    
   <article class="place-top">
    <p>{{post.name}}</p>
    <p>By:{{post.user.first_name}}</p>
    <p> {{post.post}}</p>
    <p>{{post.email}}</p>
    <p>{{post.date_posted|date:"M d, Y"}}</p>
  
   </article>
  </div>
  {% endfor %}

{% else %}
<p>
Woops Empty,Come back later
</p>

{% endif %}



</div>
<div>
<div class="w3-col s12 m4 l4">
  {% if form %}
<form enctype="multipart/form-data" method="post" action="" class="data">
  {% csrf_token %}
  <h4 class="font w3-center"> {{form_title}}</h4>
  {% for input in form %}
  {{input.label}}
  <br>
  {{input}}
  <br>
  
  {% endfor %}
  <button class="button">{{buttonMsg}}</button>
</form>
{% endif %}
</div>
</section>
{% endblock content %}