{% extends 'base.html' %}
{% load static %}

{% block nav %}

{% endblock nav %}

{% block content %}
<div class="centered">

<section class="w3-center">
  <h1 class="font animate__bounce"> Ssup Comrade?</h1>
  <h3 class="font2">
    Keep up with news,biz &amp; tattles around your hood.
    <br>
    From Main,CHS,SOL,Westie...
  </h3>

 <a class="button w3-button" href="{%  url 'signer' %}"> Sign Up</a>
  <a class="button2 w3-button" href="{%  url 'logger' %}"> Log In</a>



  {% comment %} <img class="w3-image" src="{% static 'kesses.jpg' %}" alt="kesses"> {% endcomment %}
</section>

</div>


{% endblock content %}




